In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("imoveis.csv")

In [8]:
df.describe()

,Ordem,Valor,Area,IA,Andar,Suites,Vista,DistBM,Semruido,AV200m
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000
mean,22.000000,144618.255814,195.613721,6.348837,4.604651,116.441860,7.906977,489.372093,58.558140,35.534884
std,12.556539,72084.680047,72.616871,6.513297,2.718013,92.193198,25.519193,374.663787,49.417706,47.742039
min,1.000000,50000.000000,105.000000,1.000000,1.000000,1.000000,1.000000,85.000000,1.000000,1.000000
25%,11.500000,95000.000000,155.500000,1.000000,2.000000,100.000000,1.000000,248.000000,1.000000,1.000000
50%,22.000000,120000.000000,171.000000,2.000000,4.000000,100.000000,1.000000,421.000000,100.000000,1.000000
75%,32.500000,182500.000000,213.685000,12.000000,6.000000,100.000000,1.000000,561.000000,100.000000,100.000000
max,43.000000,362400.000000,392.400000,19.000000,12.000000,400.000000,100.000000,1549.000000,100.000000,100.000000

In [10]:
df.head()

   Ordem   Valor    Area  IA  Andar  Suites  Vista  DistBM  Semruido  AV200m
0      1  160000  167.81   1      5     100    100     294       100       1
1      2   67000  128.80   1      6       1      1    1505       100       1
2      3  190000  217.37   1      8     100      1     251         1     100
3      4  110000  180.00  12      4     100      1     245         1       1
4      5   70000  120.00  15      3     100      1     956       100       1

In [23]:
df_sem_valor = df.drop('Valor', axis=1)
df_sem_valor.head()

   Ordem    Area  IA  Andar  Suites  Vista  DistBM  Semruido  AV200m
0      1  167.81   1      5     100    100     294       100       1
1      2  128.80   1      6       1      1    1505       100       1
2      3  217.37   1      8     100      1     251         1     100
3      4  180.00  12      4     100      1     245         1       1
4      5  120.00  15      3     100      1     956       100       1

In [26]:
from sklearn import linear_model
lm = linear_model.LinearRegression()

In [29]:
lm.fit(df_sem_valor,df.Valor)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [41]:
pp = df_sem_valor[8:9]
print(lm.predict(pp))
print(df[8:9])

[ 94316.3407216]
   Ordem   Valor   Area  IA  Andar  Suites  Vista  DistBM  Semruido  AV200m
8      9  110000  150.0  10      4     100      1     143         1       1